body {
	background-image: url("../../whirlpool.png");
}

.navbar-header {
	padding: 10px;
}

#nfl {
	width: 50px;
	height: 50px;
}

#mlb {
	width: 50px;
	height: 50px;
}

#nba {
	width: 40px;
	height: 50px;
}

#nhl {
	width: 50px;
	height: 50px;
}

#title {
	text-align: center 
}

#box-left {
	background-color: white;
	width: 270px;
}

#box-right {
	background-color: white;
	margin-left: 40px;
	width: 650px;
}

#footer {
    margin-top: 2%; 
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
    background-color: #5f5d5d;
    padding: 20px;
    border-top: 5px solid grey;
    right: 0;
  	left: 0;
  	position: absolute;
}

#line {
	color: #eee;
}
